@model SMS.Models.Seminar

@{
    ViewData["Title"] = "Create New Seminar";
}

<h1>Create New Seminar</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewSeminar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="topic" class="control-label"></label>
                <input asp-for="topic" class="form-control" />
                <span asp-validation-for="topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="platform" class="control-label"></label>
                <input asp-for="platform" class="form-control" />
                <span asp-validation-for="platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="link" class="control-label"></label>
                <input asp-for="link" class="form-control" />
                <span asp-validation-for="link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="linkId" class="control-label"></label>
                <input asp-for="linkId" class="form-control" />
                <span asp-validation-for="linkId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                @Html.DropDownListFor(m=>m.type, new SelectList(new List<string> { "Teacher Seminar", "Student Seminar", "Faculty Seminar", "Employee Seminar" }), new { @class = "form-control" })
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seminar_Date" class="control-label"></label>
                <input asp-for="Seminar_Date" class="form-control" />
                <span asp-validation-for="Seminar_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Starting_Time" class="control-label"></label>
                <input asp-for="Starting_Time" class="form-control" />
                <span asp-validation-for="Starting_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ending_Time" class="control-label"></label>
                <input asp-for="Ending_Time" class="form-control" />
                <span asp-validation-for="Ending_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index" asp-controller="Organizer">Cancel</a>
            </div>
        </form>
    </div>
</div>